/*CUSTOM GLOBAL STYLE*/

body {
  background-color: #FEF1EB !important;
  color: #000 !important;
  position: relative;
}

a:link {
  color: #DBCBD3;
}

a:visited {
  color: #B493A3;
}

a:hover {
  color: #F7F3F5;
}
