#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  float: left;
}

#navbar a {
  display: block;
  padding: 1em;
}

#navbar ul {
  background-color: #0000;
}

#header {
    padding-top: 1em;
    padding-bottom: 1em;
}

#about img {
    float: left;
    height: 40%;
    width: 15%;
    padding-left:1em;
    padding-right:1.5em;
    padding-top:5em;
}

#about {
    width: 100%;
}

#spacer {
    height: 1em;
}

#bigspacer {
    height: 3em;
}

#pub ul {
    list-style-type: none;
}

#pub li {
    padding-bottom: 0.6em;
}