/*CUSTOM GLOBAL STYLE*/

body {
  background-color: #000 !important;
  color: #fff !important;
  position: relative;
}

a:link {
  color: #A4C7DF;
}

a:visited {
  color: #3D6E8F;
}

a:hover {
  color: #45AAED;
}

.head {
  background-image: linear-gradient(#525252, #000);
}

.head h1 {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}
